astroid
attrs
backcall
certifi
click
colorama
cycler
decorator
Flask
gunicorn
ipykernel
ipython
ipython-genutils
isort
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
matplotlib-inline
mccabe
nbformat
numpy
pandas
parso
patsy
pickleshare
Pillow
plotly
prompt-toolkit
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
sklearn
statsmodels
tenacity
threadpoolctl
toml
tornado
traitlets
wcwidth
Werkzeug
wincertstore
wrapt
xgboost
